/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-ene-2022, 22:29:44
    Author     : Ravan-Bolivar
*/

body{
    background: indianred;
    font-weight: bold;
    color: blanchedalmond;
    font-size: 18px;
}
